// billboard-hero (wider space, larger header)
// billboard (just the typical style, everything is centered)
// billboard-content-end (sessions)

.billboard {
	$_parent: &;

	margin: auto;
	padding: 90px 0;

	@media (min-width: $tablet) {
		padding: 120px 0;
	}

	&--summit {
		background: $nerd-logo-blue;
		padding-top: 165px;
		padding-bottom: 150px;
	}

	&--subpage {
		background: $dos-black;
		padding-top: 120px;
		padding-bottom: 40px;
	}

	&--sessions {
		background-color: $rover-light-gold;

		.billboard__button-container {
			text-align: left;
		}
	}

	&--location {
		background-color: $nerd-purple;
	}

	&--sponsors {
		.sponsor {
			width: 300px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.supporter {
			width: 300px;
			margin-left: 20px;
			margin-right: 20px;
			text-align: center;
			min-height: 100px;

			p {
				font-size: 16px;
				font-weight: 900;
				color: black;
				text-transform: uppercase;
				text-decoration: none;
				transition: border-bottom 0.2s;
				margin: 0 20px;
			}
		}
	}

	&--about {
		background-color: $jumpsuit-very-light-blue;
	}

	&--contact {
		background-color: $rover-light-gold;
	}

	&__callout {
		font-size: 21px;
		font-weight: 400;
		margin-bottom: 25px;
		color: white;

		@media (min-width: $tablet) {
			font-size: 24px;
			margin-bottom: 35px;
		}

		.billboard--summit & {
			color: white;
		}
	}

	&__header {
		font-family: $header-font-family;
		font-size: 48px;
		font-weight: 900;
		line-height: 1;
		padding-bottom: 25px;
		color: #fff;

		@media (min-width: $tablet) {
			font-size: 64px;
			padding-bottom: 35px;
		}
	}

	&__subheader {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 20px;
		&--sponsor {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 0px;
			@media (min-width: $tablet) {
				font-size: 30px;
			}
		}

		@media (min-width: $tablet) {
			font-size: 30px;
			margin-bottom: 30px;
		}
	}

	h4 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	h5 {
		margin: 15px 0;
	}

	&__button-container {
		width: 100%;
		text-align: center;
	}

	&__button-item {
		text-align: center;
		list-style: none;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@media (min-width: $tablet) {
			display: inline-block;
			max-width: initial;

			&:not(:last-child) {
				margin-right: 40px;
				margin-bottom: 0;
			}
		}
	}

	&__button {
		font-size: 21px;
		border: 0;
		padding: 4px 16px;
		display: inline-block;
		text-decoration: none;
		transition: all 0.3s;
		background-color: $pacman-yellow;
		font-family: $header-font-family;
		color: $water-blue;
		white-space: nowrap;
		border-radius: 7px;
		&:hover {
				background-color: $nerd-logo-pink;
		}

		&--secondary {
			background-color: transparent;
			color: $nerd-blue--dark;

			&:hover {
				color: black;
				border-color: black;
			}
		}

		&--tertiary {
			padding: 8px 16px;
			background-color: $nerd-logo-pink;
			font-family: $base-font-family;
			color: white;
		}

		&.blue {
			background-color: $nerd-logo-blue;
			color: #FFF;
			&:hover {
				background-color: $nerd-logo-pink;
			}
		}
	}

	&__button-text {
		// background-color: $pacman-yellow;
		// margin-left: -25px;
		// margin-right: -25px;
		// padding-left: 25px;
		// padding-right: 25px;
		&:hover {
				background-color: $nerd-logo-pink;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 30px;
		a {
			margin: 0 20px;
		}
	}

	&__wrapper--sponsor {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 0px;
		margin-bottom: 50px;
		a {
			margin: 0 20px;
		}
	}

	&__columns {
		margin-top: 20px;

		@media (min-width: $tablet) {
			display: flex;
			align-items: flex-start;
			justify-content: center;

			> div {
				flex-basis: 50%;
			}
		}

		&--55-45 {
			@media (min-width: $tablet) {
				display: flex;
				align-items: flex-start;
				justify-content: center;

				> div:first-child {
					flex-basis: 55%;
				}

				> div:last-child {
					flex-basis: 45%;
				}
			}
		}

		&--45-55 {
			@media (min-width: $tablet) {
				display: flex;
				align-items: flex-start;
				justify-content: center;

				> div:first-child {
					flex-basis: 45%;
				}

				> div:last-child {
					flex-basis: 55%;
				}
			}
		}
		
		&--35-65 {
			@media (min-width: $tablet) {
				display: flex;
				align-items: flex-start;
				justify-content: center;

				> div:first-child {
					flex-basis: 35%;
				}

				> div:last-child {
					flex-basis: 65%;
				}
			}
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		li:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	p {
		font-weight: 400;
		margin-bottom: 30px;
		font-size: 18px;
	}

	a:not(.billboard__button) {
		font-size: 16px;
		font-weight: 900;
		color: $nerd-blue--dark;
		text-transform: uppercase;
		text-decoration: none;
		transition: border-bottom, margin-bottom 0.2s;

		&:hover {
			text-decoration-color: $nerd-blue--dark;
			text-decoration-line: underline;
			text-decoration-thickness: 3px;
			color: black;
		}
	}
}

.billboard__inner {
	margin: auto;
	max-width: 1024px; //768
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
	padding: 0 20px;
	position: relative;

	@media (min-width: $tablet) {
		padding: 0;
	}

	// Sessions billboard is not centered
	.billboard--sessions & {
		text-align: left;
	}
}

.keynotes-container {
	margin-bottom: 50px;
	padding-top: 30px;
	width: 100%;
	background-color: #fff;
	border: 2px solid #ccc;
	.center {
		text-align: center;
	}
}
.keynotes {
    width: 100%;
    margin: 0 auto;
    display: flex;
		flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}
.keynote {
	width: 100%;
	@media (min-width: $tablet) {
		width: 50%;
	}
	text-align: center;
	padding: 0 20px;
}

.align-center {
	text-align: center;
}
